@media (min-width: 1200px){
    .container {
        width: 1170px !important;
    }

    .div-content-inner{
        margin-right: 300px;
    }
    /*
    .doc-content{
        margin-left: 350px;
    }
    */
}